@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var site = CurrentPage.Site();
    var settings = site.FirstChild("Settings");
}

<!DOCTYPE html>
<!--[if lte IE 9]> <html lang="en" class="no-mustard no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-mustard no-js"> <!--<![endif]-->
<head>
	<title>@CurrentPage.Name | geckotree</title>
	<!--[if lt IE 9]>
		<script src="/assets/_components/html5shiv/dist/html5shiv.min.js"></script>
		<link rel="stylesheet" href="/assets/_build/css/ie.css">
	<![endif]-->

	<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="/assets/_build/css/style.css">
	<!--<![endif]-->
	
	<script src="/assets/_build/js/head.js"></script>
</head>
<body class="page">
	@Html.Partial("page/header")
	@RenderBody()
	@Html.Partial("page/footer")
	<script data-main="/assets/js/main" src="/assets/_components/requirejs/require.js"></script>
</body>
</html>


