/* ===========================================================

	# ADSPY

=========================================================== */

.case-study--adspy {
	.case-study__cover {
		background: url( '../../_build/img/svg/city-background.svg' ) center bottom repeat-x;
		background-size: 72rem 32rem;
	}

	.case-study__cover__logo {
		max-width: 90%;
	}

	.button--primary,
	.carousel__slider {
		background: $adspy-pri;
		border-color: $adspy-pri;

		&:hover,
		&:focus {
			background: $adspy-sec;
			border-color: $adspy-sec;
		}
	}

	.carousel__button {
		&:focus {
			color: $adspy-sec;
		}

		&.is-active {
			color: #fff;
		}
	}

	.case-study__logo__mark {
		&.is-active-colour-pri {
			.path {
				fill: $adspy-pri;
			}
		}

		&.is-active-colour-sec {
			.path {
				fill: $adspy-sec;
			}
		}

		&.is-active-colour-ter {
			.path {
				fill: $adspy-ter;
			}
		}
	}

	.highlight-text {
		color: $adspy-pri;
	}

	.case-study__logo__button--pri {
		background: $adspy-pri;
	}

	.case-study__logo__button--sec {
		background: $adspy-sec;
	}

	.case-study__logo__button--ter {
		background: $adspy-ter;
	}

	.cssanimations & {
		.case-study__logo__button,
		.case-study__colours__item {
			opacity: 0;
		}
	}

	.case-study__logo.is-inview {
		.case-study__logo__button--pri {
			animation: scaleIn $speed $speed * 2 both;
		}

		.case-study__logo__button--sec {
			animation: scaleIn $speed $speed * 1.5 both;
		}

		.case-study__logo__button--ter {
			animation: scaleIn $speed $speed both;
		}
	}

	.case-study__colours__item--pri {
		background: linear-gradient( to right, $adspy-pri 50%, $adspy-pri-alt 50% );
	}

	.case-study__colours__item--sec {
		background: linear-gradient( to right, $adspy-sec 50%, $adspy-sec-alt 50% );
	}

	.case-study__colours__item--ter {
		background: linear-gradient( to right, $adspy-ter 50%, $adspy-ter-alt 50% );
	}

	.case-study__colours.is-inview {
		.case-study__colours__item--pri {
			animation: scaleIn $speed $speed both;
		}

		.case-study__colours__item--sec {
			animation: scaleIn $speed $speed * 1.5 both;
		}

		.case-study__colours__item--ter {
			animation: scaleIn $speed $speed * 2 both;
		}
	}

	.case-study__illustrations-extras__number--pri {
		border-color: rgba( $adspy-pri, .5 );
		color: $adspy-pri;
	}

	.case-study__illustrations-extras__number--sec {
		border-color: rgba( $adspy-sec, .5 );
		color: $adspy-sec;
	}

	.case-study__illustrations-extras__number--ter {
		border-color: rgba( $adspy-ter, .5 );
		color: $adspy-ter;
	}
}

@include respond-max( $mq-medium ) {
	.case-study--adspy {
		.case-study__cover {
			background-size: 54rem 24rem;
		}
	}
}

@include respond-min( $mq-large ) {
	.case-study--adspy {
		.case-study__cover__logo {
			max-width: 80rem;
		}
	}
}



@keyframes pageFadeRight {
	0% {
		opacity: 0;
		transform: translate( 17.143px, 10px );
	}

	100% {
		opacity: 1;
		transform: translate( 27.143px, 10px );
	}
}

@keyframes pageFadeLeft {
	0% {
		opacity: 0;
		transform: translateX( 1rem );
	}

	100% {
		opacity: 1;
		transform: translateX( 0 );
	}
}

@keyframes fingerSlideLeft {
	0% {
		transform: translateX( 0 );
	}

	100% {
		transform: translateX( -4rem );
	}
}

.page-fade-right {
	animation: pageFadeRight $speed * 3 0 both;
}

.page-fade-left {
	animation: pageFadeLeft $speed * 3 0 both;
}

.finger-slide-left {
	animation: fingerSlideLeft $speed * 3 $speed * 2 both;
}
