/* ===========================================================

	# ANCHOR

=========================================================== */

a {
	border-radius: $border-radius;
	color: $pri;
	padding: .5rem;
	transition: background $speed ease,
				color $speed ease;

	&:hover,
	&:focus {
		background: rgba( 0, 0, 0, .03 );
		color: $sec;
	}
}
