/* ===========================================================

	# ANCHOR

=========================================================== */

a {
	color: $pri;
	transition: background $speed ease,
				color $speed ease;
				
	&:hover,
	&:focus {
		color: $sec;
	}
}

p > a {
	border-radius: $border-radius;
	padding: .5rem;

	&:hover,
	&:focus {
		color: $sec;
	}
}
