/* ===========================================================

	# HEADINGS

=========================================================== */

h1,
h2,
h3,
h4,
h5,
h6,
.tera,
.giga,
.mega,
.alpha,
.beta,
.gamma,
.delta,
.epsilon,
.zeta {
	font-weight: bold;
	line-height: 1;
}

.tera {
	@include heading-font-size( $tera--small );
}

.giga {
	@include heading-font-size( $giga--small );
}

.mega {
	@include heading-font-size( $mega--small );
}

h1,
.alpha {
	@include heading-font-size( $alpha--small );
}

h2,
.beta {
	@include heading-font-size( $beta--small );
}

h3,
.gamma {
	@include heading-font-size( $gamma--small );
}

h4,
.delta {
	@include heading-font-size( $delta--small );
}

h5,
.epsilon {
	@include heading-font-size( $epsilon--small );
}

h6,
.zeta {
	@include heading-font-size( $zeta--small );
}

.intro {
	font-size: $intro--small;
	font-weight: 200;
	line-height: $line-height;
}

@include respond-min( $mq-small ) {

	.tera {
		@include heading-font-size( $tera--medium );
	}

	.giga {
		@include heading-font-size( $giga--medium );
	}

	.mega {
		@include heading-font-size( $mega--medium );
	}

	h1,
	.alpha {
		@include heading-font-size( $alpha--medium );
	}

	h2,
	.beta {
		@include heading-font-size( $beta--medium );
	}

	h3,
	.gamma {
		@include heading-font-size( $gamma--medium );
	}

	h4,
	.delta {
		@include heading-font-size( $delta--medium );
	}

	h5,
	.epsilon {
		@include heading-font-size( $epsilon--medium );
	}

	h6,
	.zeta {
		@include heading-font-size( $zeta--medium );
	}

	.intro {
		font-size: $intro--medium;
	}

}

@include respond-min( $mq-medium ) {

	.tera {
		@include heading-font-size( $tera--large );
	}

	.giga {
		@include heading-font-size( $giga--large );
	}

	.mega {
		@include heading-font-size( $mega--large );
	}

	h1,
	.alpha {
		@include heading-font-size( $alpha--large );
	}

	h2,
	.beta {
		@include heading-font-size( $beta--large );
	}

	h3,
	.gamma {
		@include heading-font-size( $gamma--large );
	}

	h4,
	.delta {
		@include heading-font-size( $delta--large );
	}

	h5,
	.epsilon {
		@include heading-font-size( $epsilon--large );
	}

	h6,
	.zeta {
		@include heading-font-size( $zeta--large );
	}

	.intro {
		font-size: $intro--large;
	}

}
