/* ===========================================================

	# ICONS

=========================================================== */

.icon--menu {
	.group {
		fill: $grey-2;
	}
}

.icon--search {
	.path {
		fill: $grey-2;
	}
}

.icon--coffee {
	.path {
		fill: $grey-2;
	}
}

.icon--heart {
	.path {
		fill: $grey-2;
	}
}

.icon--briefcase {
	.path {
		fill: $grey-2;
	}
}

.icon--chat {
	.path {
		fill: $grey-2;
	}
}

.icon--feather {
	.path {
		fill: $grey-2;
	}
}
