/* ===========================================================

	# PAGE

=========================================================== */

html {
	height: 100%;
}

.page {
	background: $background-colour;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.page__content {
	flex: 1;
	width: 100%;
	-ms-flex-preferred-size: auto;	// IE10 tweener syntax
}
