/* ===========================================================

	# SECTION

=========================================================== */

.section {
	padding-bottom: $padding--small;
	padding-top: $padding--small;
}

.section--center {
	text-align: center;
}

@include respond-min( $mq-small ) {

	.section {
		padding-bottom: $padding--medium;
		padding-top: $padding--medium;
	}

}

@include respond-min( $mq-medium ) {

	.section {
		padding-bottom: $padding--large;
		padding-top: $padding--large;
	}

}
