/* ===========================================================

	# COLOURS

=========================================================== */

.case-study__colours__list {
	list-style: none;
	text-align: center;
}

.case-study__colours__item {
	border-radius: 50%;
	display: inline-block;
	height: 10rem;
	margin: 0 2.5rem;
	transition: transform $speed ease;
	width: 10rem;

	&:hover {
		transform: scale( 1.25 );
	}
}

@include respond-min( $mq-medium ) {

	.case-study__colours__item {
		margin: 0 5rem;
	}

}
