/* ===========================================================

	# INTERFACE

=========================================================== */

.case-study__interface {
	img {
		border: .5rem solid $grey-1;
		border-top-width: 3rem;
		border-radius: $border-radius;
		width: 100%;
	}
}

.case-study__interface--tablet {
	.case-study__section-content {
		max-width: 80rem;
	}
}

.case-study__interface--mobile {
	.case-study__section-content {
		max-width: 40rem;
	}
}
